footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
    background-color: #484848;
}

.footer__copyrights {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}